@tailwind base;
@tailwind components;
@tailwind utilities;


#headerColor {
  background-color: #2b1a41;
}
.headerColorrr {
  background-color: #2b1a41;

}

/* user table css */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #cccbce;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #bdbac0;
}


.btnRRRRR {
  position: fixed;
  right: 620PX;
  bottom: 10px;
  background-color: #2b1a41;
  border-radius: 10%;
}
/* Login form CSS */
.login-modal {
  margin: 0 auto 0;
  background: #ffffff;
  box-shadow: 0px 4px 13px #dddddd;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.login-modal h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  background: #2b1a41;
  color: #fff;
  text-align: center;
  padding: 3px 0;
}
.sideMenuColor {
  padding-left: 10;
  padding-top: 7  ;
  background: #bdbac0 !important;
  width: 200;
  height: 40;
}
.titleColore {
  
  padding-left: 10;
  padding-top: 7  ;
  color: #0b0411 !important;

}
.login-modal input {
  padding: 5px 8px;
  font-size: 15px;
  margin: 2px 0 10px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.login-modal input:focus{
  outline: none;
}
.login-modal label {
  font-size: 15px;
}
.login-modal button {
  background: #2b1a41;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 4px 10px;
  margin: 5px 0;
  border-radius: 4px;
  display: block;
}
.login-modal form {
  padding: 15px;
}



/* register form */
.register-modal {
  margin: 0 auto 0;
  background: #ffffff;
  box-shadow: 0px 4px 13px #dddddd;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.register-modal h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  background: #9aca5a;
  color: #fff;
  text-align: center;
  padding: 3px 0;
}
.titleColore {
  /* color: #2b1a41; */
  padding-left: 10;
  padding-top: 7  ;
  color: #0b0411 !important;
  background: #bdbac0 !important;
  width: 200;
  height: 40;
}
.parent {
  text-align:center;
align-content: center;
  background-color:#2b1a41;
  height:100%;
  width:500px;
}
.register-modal input {
  padding: 5px 8px;
  font-size: 15px;
  margin: 2px 0 10px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.register-modal input:focus{
  outline: none;
}
.register-modal label {
  font-size: 15px;
}
.register-modal button {
  background: #bdbac0;
  color: #0c0c0c;
  font-size: 15px;
  font-weight: 600;
  padding: 4px 10px;
  margin: 5px 0;
  border-radius: 4px;
  display: block;
}
.register-modal form {
  padding: 15px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
